<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WidgetApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>addWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>coolAniWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>coolAniWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>coolAnimation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sdadasdad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5353EA71F403850005B48F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53AC6FD1F4C8CAC009D7ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57C50B11F3F97D900DBE163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E594D1731F01324100A88B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E594D18A1F01324100A88B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E594D1951F01324100A88B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5AF6F79201A35E600A7D013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5E555E51F3F4E1B00600B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
